@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');

@theme {
  --font-sans: 'Cairo', sans-serif;
}

@keyframes scan {
  0% {
    top: 2%;
    opacity: 0.9;
  }
  50% {
    top: 92%;
    opacity: 1;
  }
  100% {
    top: 2%;
    opacity: 0.9;
  }
}

.animate-scan {
  animation: scan 1.5s ease-in-out infinite;
}

body {
  font-family: 'Cairo', sans-serif;
}


